
<!DOCTYPE html>
<html>
<head>
	<title>STL Digital</title>
	<style>
		 body {
			font-family:Verdana, Geneva, Tahoma, sans-serif;
			background-color: #f2f2f2;
			color: #333;
			margin: 0;
			padding: 0;
		}
        h1 {
			color: white;
			margin-top: 0;
		}
       header {
			background-color: #f2f2f2;
			padding: 20px;
			text-align: center;
            color :#4f185e 
		}
		
</style>
</head>
<body>
	<header>
		<h1 style="color:#1338BE;margin-top: 10px; "><b>Welcome to the world of Digital STLers!</b></h1>
	</header>
	<main>
        <div style="overflow: hidden;">
            <div style="float: left; width: 50vw;margin-left: 30px;margin-top:30px;">
              <h2 style="font-family: 'Times New Roman', Times, serif;">Our values define and shape us. Our values help us tower over our competitors. 
                Some of our core values turned our vision into action.</h2>
                <h3 style="color:#1338BE;"><b>Discover who we are</b></h3>
                <p style="font-family: 'Times New Roman', Times, serif;line-height: 30px;font-size: 18px;">We are the Next-generation revolutionaries in the digital products and services space.,
                   We combined over 3 decades of veteran digital transformation experience and the flexibility of a
                    new-age start-up to come up with something unique that offers the best of both worlds.
                     We are people-centric, and that is essential to make it possible everything we do and hope to do. 
                     Culture @ STL Digital is not defined by age or geography, but by a determination to reshape the industry.</p>
            </div>
            <div style="float: right; width: 35vw;margin-top:30px;margin-right:30px">
              <img src="assets/images/emp3.png" alt="Image description" style="width: 100%; height: auto;margin-right:25px">
            </div>
          </div>       
          
        