.gradient-custom-2 {
    /* fallback for old browsers */
    background: rgb(191, 146, 200);
    
}

.is-invalid {
    border-color: red;
}

.help-block {
    color: black;
}

.is-invalid + .help-block {
    color: rgb(255, 0, 0, 0.8);
}
.error-message{
    color: red;
}