<h2 style="text-align: left;">Profile</h2>
<form [formGroup]="employeeForm">
    <div>
        <label style="display: inline-block; width: 100px;">EMPLOYEE ID:</label>
        <input type="text" class="form-control" style="display: inline-block;" formControlName="id" readonly>
    </div>
    <div>
        <label style="display: inline-block; width: 100px;">EMAIL:</label>
        <input type="email" class="form-control" style="display: inline-block;" formControlName="email" readonly>
    </div>
    <div>
        <label style="display: inline-block; width: 100px;">Department:</label>
        <input type="text" class="form-control" style="display: inline-block;" formControlName="department" readonly>
    </div>
    <div>
        <label style="display: inline-block; width: 100px;">Designation:</label>
        <input type="text" class="form-control" style="display: inline-block;" formControlName="designation" readonly>
    </div>
    <div>
        <label style="display: inline-block; width: 100px;">Date Of Joining:</label>
        <input type="text" class="form-control" style="display: inline-block;" formControlName="doj" readonly>
    </div>
    <div>
        <label style="display: inline-block; width: 100px;">Manager:</label>
        <input type="text" class="form-control" style="display: inline-block;" formControlName="manager" readonly>
    </div>
</form>
   
    
   
  
  
  
  
  